@font-face {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans';
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.App{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;
    background-color: #383636;
    overflow: hidden;
}

.login_block{
}