.backArrow {
   background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    transition: transform .5s;
}

.backArrow:hover {
    transform: translateX(-20px);
}

.arrowImage{
    image-rendering: pixelated;
    width: 7.5vh;
    display: block;
}