.mainContainer{
    width: 100vw;
    height: 100vh;
}

.leftContainer {
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upLeftContainer {
    width: 100%;
    height: 15%;
    background-color: #383636;
}

.middleContainer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.mainCanvas{
    width: 70%;
    height: 100%;
    background-color: white;
}
.scoreboard{
    width:20%;
    height: 100%;
    background-color: #383636;
}

.middleRightContainer {
    height: 100%;
    width: 10%;
    background-color: #383636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.downLeftContainer {
    width: 80%;
    height: 15%;
    padding-top: 20px;
    background-color: #383636;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 12.5%;
}

.rightContainer {
    width: 20%;
    height: 100%;
    background-color: #383636;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.underChatContainer{
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputContainer {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.chatInput{
    width: 100%;
    height: 30%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    background-color: #201D1D;
    color: #7b7b7b;
}


.message{
    padding-bottom: 10px;
    width: 100%;
    height: 3%;
    font-size: 1.2rem;
    margin-left: 5%;
    color: #7b7b7b;
}

.message:first-child{
    margin-top: 10px;
}

.chatUser{
    color: blue;
}

.userJoin{
    color: lawngreen;
}

.userLeft{
    color: red;
}


.cornerLeft{
    position: absolute;
    bottom: 0;
    left: 0;

}

.cornerRight{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

canvas{
    z-index: 1;
}